@font-face {
    font-family: "amadou Market";
    src: url("Dust West College.woff") format('woff');
}
@font-face {
    font-family: "headlock";
    src: url("DK Headlock.otf");
}
body{
    font-family: "headlock";
    letter-spacing: 1px;
    width: 100%;
    min-height: 100vh;
    height: auto;
    position: relative;
    background-image: linear-gradient(-225deg, rgba(127, 140, 141,0.4) 0%, rgba(52, 152, 219,0.2) 70%), url(../img/bg2.jpg);
    background-size:cover;

}
.footer {
    background: rgba(44, 62, 80,1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0px 50px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;


}
.red{
    background-color:rgba(255, 107, 107,1.0);
    color: white;
}
.red:hover{
    color: white;
    background-color:rgba(231, 76, 60,1.0);
}